#footer {
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
    background-color: #1c3643;
}
#header img{
    width: 30px;
}

.btn-lomed{
    background-color: #97c93e;
    color: white;
}

.btn-lomed:hover{
    background-color: #82ad36;
}

.text-lomed {
    color: #97c93e !important;
}
#footer a{
    color: white;
}
#carousel{
    position: relative;
}

#carousel-slide{
    width: 50%;
    height: 50%;
   
}
#carousel .overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;   
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
}

#caro
#main .carousel-inner img {
    max-height: 40vh;
    object-fit: cover;
    filter: grayscale();
}

.center {
text-align: center;
  }
  

/*8 videos/*
